[submodule "magnum"]
	path = external/magnum
	url = https://github.com/mosra/magnum
[submodule "magnum-plugins"]
	path = external/magnum-plugins
	url = https://github.com/mosra/magnum-plugins
[submodule "magnum-integration"]
	path = external/magnum-integration
	url = https://github.com/mosra/magnum-integration
[submodule "corrade"]
	path = external/corrade
	url = https://github.com/mosra/corrade
[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sdl2"]
	path = external/sdl2
	url = https://github.com/libsdl-org/SDL.git
[submodule "fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "luajit"]
	path = external/luajit
	url = https://github.com/WohlSoft/LuaJIT.git
[submodule "robin-map"]
	path = external/robin-map
	url = https://github.com/Tessil/robin-map.git
