[submodule "magnum"]
	path = magnum
	url = https://github.com/mosra/magnum
[submodule "magnum-plugins"]
	path = magnum-plugins
	url = https://github.com/mosra/magnum-plugins
[submodule "magnum-integration"]
	path = magnum-integration
	url = https://github.com/mosra/magnum-integration
[submodule "corrade"]
	path = corrade
	url = https://github.com/mosra/corrade
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/libsdl-org/SDL.git
