{
    "object_name": "test",
    "anim_name": "walk",
    "width": 0, "height": 0,
    "nframes": 0, "fps": 24,
    "actionframe": 0,

    "groups": [
        { "frames": [], "ground": "0 x 0", "name": "n"  },
        { "frames": [], "ground": "0 x 0", "name": "ne" },
        { "frames": [], "ground": "0 x 0", "name": "e"  },
        { "frames": [], "ground": "0 x 0", "name": "se" },
        { "frames": [], "ground": "0 x 0", "name": "s"  },
        { "frames": [], "ground": "0 x 0", "name": "sw" },
        { "frames": [], "ground": "0 x 0", "name": "w"  },
        { "frames": [], "ground": "0 x 0", "name": "nw" }
    ]
}
// vim: ft=javascript
